<h1>Listing prd_attributes</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Code</th>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Prd Type</th>
    <th>Bill Type</th>
    <th>Start_Date</th>
    <th>End_Date</th>
    <th>Subscription_Fee</th>
    <th>Monthly_Fee</th>
    <th>Target_User</th>
    <th>Service_Type</th>
  </tr>

<% @prd_attributes.each do |prd_attribute| %>
  <tr>
    <td><%=h prd_attribute.id %></td>
    <td><%=h prd_attribute.code %></td>
    <td><%=h prd_attribute.name %></td>
    <td><%=h prd_attribute.description %></td>
    <td><%=h prd_attribute.status_id%></td>
    <td><%=h prd_attribute.prd_type %></td>
    <td><%=h prd_attribute.bill_type_id%></td>
    <td><%=h prd_attribute.start_date %></td>
    <td><%=h prd_attribute.end_date %></td>
    <td><%=h prd_attribute.subscription_fee %></td>
    <td><%=h prd_attribute.monthly_fee %></td>
    <td><%=h prd_attribute.target_user %></td>
    <td><%=h prd_attribute.service_type_id %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New prd_attribute', new_prd_attribute_path %>
