<p>
  <b>Id:</b>
  <%=h @prd_attribute.id %>
</p>

<p>
  <b>Code:</b>
  <%=h @prd_attribute.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @prd_attribute.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @prd_attribute.description %>
</p>

<p>
  <b>Status:</b>
  <%=h @prd_attribute.status %>
</p>

<p>
  <b>Prd Type:</b>
  <%=h @prd_attribute.prd_type %>
</p>

<p>
  <b>Bill Type:</b>
  <%=h @prd_attribute.bill_type %>
</p>

<p>
  <b>Start Date:</b>
  <%=h @prd_attribute.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%=h @prd_attribute.end_date %>
</p>

<p>
  <b>Subscription Fee:</b>
  <%=h @prd_attribute.subscription_fee %>
</p>

<p>
  <b>Monthly Fee:</b>
  <%=h @prd_attribute.monthly_fee %>
</p>

<p>
  <b>Target User:</b>
  <%=h @prd_attribute.target_user %>
</p>

<p>
  <b>Service Type:</b>
  <%=h @prd_attribute.service_type %>
</p>

<%= link_to 'Edit', edit_prd_attribute_path(@prd_attribute) %> |
<%= link_to 'Back', prd_attributes_path %>
