<h1>Editing custom_promotion</h1>

<% form_for(@custom_promotion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :service_code_id %><br />
    <%= f.text_field :service_code_id %>
  </p>
  <p>
    <%= f.label :product_code %><br />
    <%= f.text_field :product_code %>
  </p>
  <p>
    <%= f.label :promotion_service_id %><br />
    <%= f.text_field :promotion_service_id %>
  </p>
  <p>
    <%= f.label :priority %><br />
    <%= f.text_field :priority %>
  </p>
  <p>
    <%= f.label :promotion_category %><br />
    <%= f.text_field :promotion_category %>
  </p>
  <p>
    <%= f.label :promotion_parameter %><br />
    <%= f.text_field :promotion_parameter %>
  </p>
  <p>
    <%= f.label :package %><br />
    <%= f.text_field :package %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @custom_promotion %> |
<%= link_to 'Back', custom_promotions_path %>