<p>
  <b>Day:</b>
  <%=h @when_day_factor.day %>
</p>

<p>
  <b>Day type:</b>
  <%=h @when_day_factor.day_type %>
</p>

<p>
  <b>When day:</b>
  <%=h @when_day_factor.when_day_id %>
</p>


<%= link_to 'Edit', edit_when_day_factor_path(@when_day_factor) %> |
<%= link_to 'Back', when_day_factors_path %>