<p>
	<b>Command:</b>
	<%= @cs_product_addinfo.command %>
</p>
<p>
	<b>Product Code:</b>
	<%= @cs_product_addinfo.product_code %>
</p>
<p>
	<b>Name:</b>
	<%= @cs_product_addinfo.name %>
</p>
<p>
	<b>Description:</b>
	<%= @cs_product_addinfo.description %>
</p>

<%= link_to 'Edit', edit_cs_product_addinfo_path(@cs_product_addinfo) %> |
<%= link_to 'Back', cs_product_addinfos_path %>
