<p>
	<b>Command:</b>
  	<%= @cs_product.command %>
</p>
<p>
	<b>Service Type:</b>
  	<%= @cs_product.service_type %>
</p>
<p>
	<b>Code:</b>
  	<%= @cs_product.code %>
</p>
<p>
	<b>Name:</b>
  	<%= @cs_product.name %>
</p>
<p>
	<b>Description::</b>
  	<%= @cs_product.description %>
</p>
<p>
	<b>Billing Type:</b>
  	<%= @cs_product.billing_type %>
</p>
<p>
	<b>Subscription Fee:</b>
  	<%= @cs_product.subscription_fee %>
</p>
<p>
	<b>Product Type:</b>
  	<%= @cs_product.product_type %>
</p>
<p>
	<b>Status:</b>
  	<%= @cs_product.status %>
</p>
<p>
	<b>Device List:</b>
  	<%= @cs_product.device_list %>
</p>
<p>
	<b>Crtdt:</b>
  	<%= @cs_product.crtdt %>
</p>

<%= link_to 'Edit', edit_cs_product_path(@cs_product) %> |
<%= link_to 'Back', cs_products_path %>
