<p>
  <b>Threhold:</b>
  <%=h @deposit_threshold.threhold %>
</p>

<p>
  <b>Action:</b>
  <%=h @deposit_threshold.action %>
</p>

<p>
  <b>Deposit:</b>
  <%=h @deposit_threshold.deposit_id %>
</p>


<%= link_to 'Edit', edit_deposit_threshold_path(@deposit_threshold) %> |
<%= link_to 'Back', deposit_thresholds_path %>