<p>
  <b>Subfctr name:</b>
  <%=h @what_qo.subfctr_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @what_qo.description %>
</p>

<p>
  <b>Level1:</b>
  <%=h @what_qo.level1 %>
</p>

<p>
  <b>Level2:</b>
  <%=h @what_qo.level2 %>
</p>

<p>
  <b>Level3:</b>
  <%=h @what_qo.level3 %>
</p>

<p>
  <b>Level4:</b>
  <%=h @what_qo.level4 %>
</p>

<p>
  <b>Level5:</b>
  <%=h @what_qo.level5 %>
</p>


<%= link_to 'Edit', edit_what_qo_path(@what_qo) %> |
<%= link_to 'Back', what_qos_path %>