<h1>Editing when_duration_factor</h1>

<% form_for(@when_duration_factor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>
  </p>
  <p>
    <%= f.label :when_duration_id %><br />
    <%= f.text_field :when_duration_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @when_duration_factor %> |
<%= link_to 'Back', when_duration_factors_path %>