<p>
  <b>Start date:</b>
  <%=h @when_duration_factor.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @when_duration_factor.end_date %>
</p>

<p>
  <b>When duration:</b>
  <%=h @when_duration_factor.when_duration_id %>
</p>


<%= link_to 'Edit', edit_when_duration_factor_path(@when_duration_factor) %> |
<%= link_to 'Back', when_duration_factors_path %>