<h1>Editing tariff</h1>

<% form_for(@tariff) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :unit %><br />
    <%= f.text_field :unit %>
  </p>
  <p>
    <%= f.label :unit_type %><br />
    <%= f.text_field :unit_type %>
  </p>
  <p>
    <%= f.label :rate %><br />
    <%= f.text_field :rate %>
  </p>
  <p>
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @tariff %> |
<%= link_to 'Back', tariffs_path %>