<p>
  <b>Subfctr name:</b>
  <%=h @when_week.subfctr_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @when_week.description %>
</p>

<p>
  <b>Sun:</b>
  <%=h @when_week.sun %>
</p>

<p>
  <b>Mon:</b>
  <%=h @when_week.mon %>
</p>

<p>
  <b>Tue:</b>
  <%=h @when_week.tue %>
</p>

<p>
  <b>Wed:</b>
  <%=h @when_week.wed %>
</p>

<p>
  <b>Thu:</b>
  <%=h @when_week.thu %>
</p>

<p>
  <b>Fri:</b>
  <%=h @when_week.fri %>
</p>

<p>
  <b>Sat:</b>
  <%=h @when_week.sat %>
</p>


<%= link_to 'Edit', edit_when_week_path(@when_week) %> |
<%= link_to 'Back', when_weeks_path %>