<h1>New prd_promotion</h1>

<% form_for(@prd_promotion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :promotion_id %><br />
    <%= f.text_field :promotion_id %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.text_field :product_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', prd_promotions_path %>
