<h1>Editing what_factor</h1>

<% form_for(@what_factor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :fctr_code %><br />
    <%= f.text_field :fctr_code %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.label :target %><br />
    <%= f.text_field :target %>
  </p>
   <p>
    <%= f.label :default %><br />
    <%= f.text_field :default %>
  </p>
  <p>
    <%= f.label :service_type %><br />
    <%= f.text_field :service_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @what_factor %> |
<%= link_to 'Back', what_factors_path %>
