<p>
  <b>Product code:</b>
  <%=h @ccbs_product_tariff.product_code %>
</p>

<p>
  <b>Itemcod:</b>
  <%=h @ccbs_product_tariff.itemcod %>
</p>

<p>
  <b>Fromdt:</b>
  <%=h @ccbs_product_tariff.fromdt %>
</p>

<p>
  <b>Todt:</b>
  <%=h @ccbs_product_tariff.todt %>
</p>

<p>
  <b>Method:</b>
  <%=h @ccbs_product_tariff.method %>
</p>

<p>
  <b>Add unit:</b>
  <%=h @ccbs_product_tariff.add_unit %>
</p>

<p>
  <b>Unit charge:</b>
  <%=h @ccbs_product_tariff.unit_charge %>
</p>

<p>
  <b>Suspamt:</b>
  <%=h @ccbs_product_tariff.suspamt %>
</p>

<p>
  <b>Validity term:</b>
  <%=h @ccbs_product_tariff.validity_term %>
</p>

<p>
  <b>Crt user:</b>
  <%=h @ccbs_product_tariff.crt_user %>
</p>

<p>
  <b>Updt user:</b>
  <%=h @ccbs_product_tariff.updt_user %>
</p>

<p>
  <b>Crtdt:</b>
  <%=h @ccbs_product_tariff.crtdt %>
</p>

<p>
  <b>Updtdt:</b>
  <%=h @ccbs_product_tariff.updtdt %>
</p>

<p>
  <b>Pgm:</b>
  <%=h @ccbs_product_tariff.pgm_id %>
</p>

<p>
  <b>Min unitcharge:</b>
  <%=h @ccbs_product_tariff.min_unitcharge %>
</p>

<p>
  <b>Max unitcharge:</b>
  <%=h @ccbs_product_tariff.max_unitcharge %>
</p>


<%= link_to 'Edit', edit_ccbs_product_tariff_path(@ccbs_product_tariff) %> |
<%= link_to 'Back', ccbs_product_tariffs_path %>