<p>
  <b>Subfctr name:</b>
  <%=h @action_discount.subfctr_name %>
</p>

<p>
  <b>Upto:</b>
  <%=h @action_discount.upto %>
</p>

<p>
  <b>Rate:</b>
  <%=h @action_discount.rate %>
</p>

<p>
  <b>Uptounit:</b>
  <%=h @action_discount.uptounit %>
</p>

<p>
  <b>Rateunit:</b>
  <%=h @action_discount.rateunit %>
</p>


<%= link_to 'Edit', edit_action_discount_path(@action_discount) %> |
<%= link_to 'Back', action_discounts_path %>