<h1>New card_type</h1>

<% form_for(@card_type) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :price_model %><br />
    <%= f.text_field :price_model %>
  </p>
  <p>
    <%= f.label :price_model_nm %><br />
    <%= f.text_field :price_model_nm %>
  </p>
  <p>
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.label :real_price %><br />
    <%= f.text_field :real_price %>
  </p>
  <p>
    <%= f.label :svc_type %><br />
    <%= f.text_field :svc_type %>
  </p>
  <p>
    <%= f.label :ext_days %><br />
    <%= f.text_field :ext_days %>
  </p>
  <p>
    <%= f.label :crtdt %><br />
    <%= f.date_select :crtdt %>
  </p>
  <p>
    <%= f.label :crt_user %><br />
    <%= f.text_field :crt_user %>
  </p>
  <p>
    <%= f.label :updtdt %><br />
    <%= f.date_select :updtdt %>
  </p>
  <p>
    <%= f.label :updt_user %><br />
    <%= f.text_field :updt_user %>
  </p>
  <p>
    <%= f.label :pgm_id %><br />
    <%= f.text_field :pgm_id %>
  </p>
  <p>
    <%= f.label :sale_item %><br />
    <%= f.text_field :sale_item %>
  </p>
  <p>
    <%= f.label :recharge_item %><br />
    <%= f.text_field :recharge_item %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', card_types_path %>