<p>
  <b>Price model:</b>
  <%=h @card_type.price_model %>
</p>

<p>
  <b>Price model nm:</b>
  <%=h @card_type.price_model_nm %>
</p>

<p>
  <b>Price:</b>
  <%=h @card_type.price %>
</p>

<p>
  <b>Real price:</b>
  <%=h @card_type.real_price %>
</p>

<p>
  <b>Svc type:</b>
  <%=h @card_type.svc_type %>
</p>

<p>
  <b>Ext days:</b>
  <%=h @card_type.ext_days %>
</p>

<p>
  <b>Crtdt:</b>
  <%=h @card_type.crtdt %>
</p>

<p>
  <b>Crt user:</b>
  <%=h @card_type.crt_user %>
</p>

<p>
  <b>Updtdt:</b>
  <%=h @card_type.updtdt %>
</p>

<p>
  <b>Updt user:</b>
  <%=h @card_type.updt_user %>
</p>

<p>
  <b>Pgm:</b>
  <%=h @card_type.pgm_id %>
</p>

<p>
  <b>Sale item:</b>
  <%=h @card_type.sale_item %>
</p>

<p>
  <b>Recharge item:</b>
  <%=h @card_type.recharge_item %>
</p>


<%= link_to 'Edit', edit_card_type_path(@card_type) %> |
<%= link_to 'Back', card_types_path %>