<p>
    <b>Command:</b>
	<%= @cs_product_condition.command %>
</p>
<p>
    <b>Product Code:</b>
	<%= @cs_product_condition.product_code %>
</p>
<p>
    <b>Condition Type:</b>
	<%= @cs_product_condition.condition_type %>
</p>
<p>
    <b>Promotion Code:</b>
	<%= @cs_product_condition.promotion_code %>
</p>
<p>
    <b>Name:</b>
	<%= @cs_product_condition.name %>
</p>
<p>
    <b>Value:</b>
	<%= @cs_product_condition.value %>
</p>
<p>
    <b>Op Type:</b>
	<%= @cs_product_condition.op_type %>
</p>
<p>
    <b>Condition Group No:</b>
	<%= @cs_product_condition.condition_group_no %>
</p>

<%= link_to 'Edit', edit_cs_product_condition_path(@cs_product_condition) %> |
<%= link_to 'Back', cs_product_conditions_path %>
