<p>
  <b>Service type:</b>
  <%=h @ccbs_product.service_type %>
</p>

<p>
  <b>Product code:</b>
  <%=h @ccbs_product.product_code %>
</p>

<p>
  <b>Product name:</b>
  <%=h @ccbs_product.product_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @ccbs_product.description %>
</p>

<p>
  <b>Billing type:</b>
  <%=h @ccbs_product.billing_type %>
</p>

<p>
  <b>Start date:</b>
  <%=h @ccbs_product.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @ccbs_product.end_date %>
</p>

<p>
  <b>Product type:</b>
  <%=h @ccbs_product.product_type %>
</p>

<p>
  <b>Status:</b>
  <%=h @ccbs_product.status %>
</p>

<p>
  <b>Device list:</b>
  <%=h @ccbs_product.device_list %>
</p>

<p>
  <b>Crtdt:</b>
  <%=h @ccbs_product.crtdt %>
</p>

<p>
  <b>Condition list:</b>
  <%=h @ccbs_product.condition_list %>
</p>

<p>
  <b>Item list:</b>
  <%=h @ccbs_product.item_list %>
</p>


<%= link_to 'Edit', edit_ccbs_product_path(@ccbs_product) %> |
<%= link_to 'Back', ccbs_products_path %>