<h1>New what_urlgroup_factor</h1>

<% form_for(@what_urlgroup_factor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', what_urlgroup_factors_path %>