<h1>Editing action_custom_factor</h1>

<% form_for(@action_custom_factor) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </p>
  <p>
    <%= f.label :operation %><br />
    <%= f.text_field :operation %>
  </p>
  <p>
    <%= f.label :action_custom_id %><br />
    <%= f.text_field :action_custom_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @action_custom_factor %> |
<%= link_to 'Back', action_custom_factors_path %>
