<p>
  <b>Id:</b>
  <%=h @action_custom_factor.id %>
</p>

<p>
  <b>Name:</b>
  <%=h @action_custom_factor.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @action_custom_factor.value %>
</p>

<p>
  <b>Operation:</b>
  <%=h @action_custom_factor.operation %>
</p>

<p>
  <b>Action custom:</b>
  <%=h @action_custom_factor.action_custom_id %>
</p>


<%= link_to 'Edit', edit_action_custom_factor_path(@action_custom_factor) %> |
<%= link_to 'Back', action_custom_factors_path %>
