<p>
  <b>Subfctr name:</b>
  <%=h @where_network.subfctr_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @where_network.description %>
</p>

<p>
  <b>Network:</b>
  <%=h @where_network.network %>
</p>


<%= link_to 'Edit', edit_where_network_path(@where_network) %> |
<%= link_to 'Back', where_networks_path %>