<p>
  <b>Code factor:</b>
  <%=h @prd_attribute_device.code_factor_id %>
</p>

<p>
  <b>Prd attribute:</b>
  <%=h @prd_attribute_device.prd_attribute_id %>
</p>

<p>
  <b>Lock version:</b>
  <%=h @prd_attribute_device.lock_version %>
</p>


<%= link_to 'Edit', edit_prd_attribute_device_path(@prd_attribute_device) %> |
<%= link_to 'Back', prd_attribute_devices_path %>