<p>
  <b>Subfctr name:</b>
  <%=h @action_allow.subfctr_name %>
</p>

<p>
  <b>Give:</b>
  <%=h @action_allow.give %>
</p>

<p>
  <b>Currency:</b>
  <%=h @action_allow.currency %>
</p>

<p>
  <b>Unitgive:</b>
  <%=h @action_allow.unitgive %>
</p>

<p>
  <b>Unit:</b>
  <%=h @action_allow.unit %>
</p>


<%= link_to 'Edit', edit_action_allow_path(@action_allow) %> |
<%= link_to 'Back', action_allows_path %>