<p>
  <b>Code:</b>
  <%=h @ccbs_bundle_product.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @ccbs_bundle_product.name %>
</p>

<p>
  <b>Start date:</b>
  <%=h @ccbs_bundle_product.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @ccbs_bundle_product.end_date %>
</p>

<p>
  <b>Product type:</b>
  <%=h @ccbs_bundle_product.product_type %>
</p>

<p>
  <b>Status:</b>
  <%=h @ccbs_bundle_product.status %>
</p>

<p>
  <b>Crtdt:</b>
  <%=h @ccbs_bundle_product.crtdt %>
</p>

<p>
  <b>Packaged product list:</b>
  <%=h @ccbs_bundle_product.packaged_product_list %>
</p>


<%= link_to 'Edit', edit_ccbs_bundle_product_path(@ccbs_bundle_product) %> |
<%= link_to 'Back', ccbs_bundle_products_path %>