<p>
  <b>Prefix country:</b>
  <%=h @tariff_list.prefix_country %>
</p>

<p>
  <b>Prefix region:</b>
  <%=h @tariff_list.prefix_region %>
</p>

<p>
  <b>Unit 1:</b>
  <%=h @tariff_list.unit_1 %>
</p>

<p>
  <b>Tariff 1:</b>
  <%=h @tariff_list.tariff_1 %>
</p>

<p>
  <b>Unit 2:</b>
  <%=h @tariff_list.unit_2 %>
</p>

<p>
  <b>Tariff 2:</b>
  <%=h @tariff_list.tariff_2 %>
</p>

<p>
  <b>Unit 3:</b>
  <%=h @tariff_list.unit_3 %>
</p>

<p>
  <b>Tariff 3:</b>
  <%=h @tariff_list.tariff_3 %>
</p>

<p>
  <b>Unit 4:</b>
  <%=h @tariff_list.unit_4 %>
</p>

<p>
  <b>Tariff 4:</b>
  <%=h @tariff_list.tariff_4 %>
</p>

<p>
  <b>Tariff File List Id:</b>
  <%=h @tariff_list.tariff_file_list_id %>
</p>

<%= link_to 'Edit', edit_tariff_list_path(@tariff_list) %> |
<%= link_to 'Back', tariff_lists_path %>
