<p>
  <b>Additional service:</b>
  <%=h @prd_additional_service.additional_service_id %>
</p>

<p>
  <b>Type:</b>
  <%=h @prd_additional_service.vas_type %>
</p>
<p>
  <b>Bill Cycle:</b>
  <%=h @prd_additional_service.bill_cycle %>
</p>
<p>
  <b>Rate:</b>
  <%=h @prd_additional_service.rate %>
</p>
<p>
  <b>Currency:</b>
  <%=h @prd_additional_service.currency %>
</p>
<p>
  <b>Product Id:</b>
  <%=h @prd_additional_service.product_id %>
</p>

<%= link_to 'Edit', edit_prd_additional_service_path(@prd_additional_service) %> |
<%= link_to 'Back', prd_additional_services_path %>
