<h1>Editing promotion</h1>

<% form_for(@promotion) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :action_type %><br />
    <%= f.text_field :action_type %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @promotion %> |
<%= link_to 'Back', promotions_path %>
