<p>
    <b>Command:</b>
	<%= @cs_product_va.command %>
</p>
<p>
    <b>Product code:</b>
	<%= @cs_product_va.product_code %>
</p>
<p>
    <b>Name:</b>
	<%= @cs_product_va.name %>
</p>
<p>
    <b>Is Required:</b>
	<%= @cs_product_va.is_required %>
</p>
<p>
    <b>Group Type:</b>
	<%= @cs_product_va.group_type %>
</p>
<p>
    <b>Group No:</b>
	<%= @cs_product_va.group_no %>
</p>
<p>
    <b>Fee:</b>
	<%= @cs_product_va.fee %>
</p>
<p>
    <b>Bill Term:</b>
	<%= @cs_product_va.bill_term %>
</p>
<p>
    <b>Description:</b>
	<%= @cs_product_va.description %>
</p>

<%= link_to 'Edit', edit_cs_product_va_path(@cs_product_va) %> |
<%= link_to 'Back', cs_product_vas_path %>
