<p>
  <b>Subfctr name:</b>
  <%=h @when_factor.subfctr_name %>
</p>

<p>
  <b>Description:</b>
  <%=h @when_factor.description %>
</p>

<p>
  <b>Name:</b>
  <%=h @when_factor.name %>
</p>

<p>
  <b>Value:</b>
  <%=h @when_factor.value %>
</p>

<p>
  <b>Operation:</b>
  <%=h @when_factor.operation %>
</p>

<p>
  <b>Target:</b>
  <%=h @when_factor.target %>
</p>

<p>
  <b>Default:</b>
  <%=h @when_factor.default %>
</p>

<p>
  <b>Service Type:</b>
  <%=h @when_factor.service_type %>
</p>


<%= link_to 'Edit', edit_when_factor_path(@when_factor) %> |
<%= link_to 'Back', when_factors_path %>
